$color-black: #000000;
$color-darkgray: #6f7489;
$color-lightgray: #dddee0;
$color-gray: mix($color-darkgray, $color-lightgray, 50%);
$color-orange: #fe4d30;
$color-purple: #6918f9;
$color-white: #ffffff;
$color-yellow: #ffc808;

$colors: (
  black: $color-black,
  darkgray: $color-darkgray,
  lightgray: $color-lightgray,
  gray: $color-gray,
  orange: $color-orange,
  purple: $color-purple,
  white: $color-white,
  yellow: $color-yellow,
);

:global {

.black {
  color: $color-black;
}

.darkgray {
  color: $color-darkgray;
}

.lightgray {
  color: $color-lightgray;
}

.gray {
  color: $color-gray;
}

.orange {
  color: $color-orange;
}

.purple {
  color: $color-purple;
}

.white {
  color: $color-white;
}

.yellow {
  color: $color-yellow;
}

} // :global
