@import './colors';
@import './typography';

.text {
  &-black {
    color: $color-black;
  }

  &-darkgray {
    color: $color-darkgray;
  }

  &-gray {
    color: $color-gray;
  }

  &-lightgray {
    color: $color-lightgray;
  }

  &-orange {
    color: $color-orange;
  }

  &-purple {
    color: $color-purple;
  }

  &-white {
    color: $color-white;
  }

  &-yellow {
    color: $color-yellow;
  }

  &-sans {
    @include typography-sans;
  }

  &-serif {
    @include typography-serif;
  }

  &-mono {
    @include typography-mono;
  }
}

.horizontal-layout {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-gap: 2rem;

  h1 {
    margin-top: 0;
    font-size: $font-size-heading;
    line-height: 1.2;
  }
}

.refresh-label {
  color: $color-white;
  background-color: $color-purple;
  padding: 0.1rem 0.25rem;
}

.definition-list {
  > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }

  > ul > li > ul > li {
    margin: 0.75rem 0 0 1rem;
    font-size: $font-size-small;
    line-height: 1.2;
  }
}

.timeline {
  display: flex;
  flex-direction: row;

  .section {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }

  .section + .section {
    margin-left: 2rem;
  }

  h2 {
    @include typography-mono;
    font-size: $font-size-large;
    line-height: 1;
    padding: 0.5rem 0.5rem;
  }

  ul {
    @include typography-serif;
    margin-top: 1rem;
    font-size: $font-size-x-small;
    line-height: 1.2;

    > li {
      margin-top: 0.5rem;
    }
  }

  em {
    @include typography-sans;
    color: $color-purple;
  }

  strong {
    font-weight: bold;
  }

  blockquote {
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    border-left-color: #dddddd;
    padding-bottom: 0px;
    padding-left: 5px;
  }
}
