@import './colors';
@import './typography';

@mixin headers() {
  h1 {
    @include typography-sans;
    @include typography-size(large);
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
  }

  h2 {
    @include typography-sans;
    @include typography-size(medium);
    display: table; // To get both collapsing margins and block layout
    margin-top: 2rem;
    padding: 0.3rem 3.75rem 0.3rem 1.25rem;
    color: $color-white;
    background-color: $color-black;

    &:first-child {
      margin-top: 0
    }
  }

  h3 {
    @include typography-sans;
    @include typography-size(medium);
    display: table; // To get both collapsing margins and block layout
    margin-top: 2rem;
    padding: 0.3rem 0.5rem;
    color: $color-white;
    background-color: $color-black;
  }

  h1 + h2 {
    margin-top: 0;
  }

  .header {
    margin-bottom: 2rem;

    h1 {
      margin-bottom: 0.5rem;
    }
  }

  @each $name, $color in $colors {
    .#{$name} {
      > h1, > h2, > h3 {
        background-color: $color;
      }
    }
  }
}

@mixin unset-headers() {
  h1 {
    @include unset-typography;
    @include unset-typography-size;
    margin-top: unset;
    margin-bottom: unset;
  }

  h2 {
    @include unset-typography;
    @include unset-typography-size;
    display: unset;
    margin-top: unset;
    padding: unset;
    color: unset;
    background-color: unset;

    &:first-child {
      margin-top: unset
    }
  }

  h3 {
    @include unset-typography;
    @include unset-typography-size;
    display: unset;
    padding: unset;
    color: unset;
    background-color: unset;
  }

  h1 + h2 {
    margin-top: unset;
  }

  .header {
    margin-bottom: unset;

    h1 {
      margin-bottom: unset;
    }
  }
}

@mixin paragraphs() {
  p {
    margin: 0.75em 0; // Intentionally em
  }
}

@mixin unset-paragraphs() {
  p {
    margin: unset;
  }
}

@mixin lists() {
  ul, ol {
    @include block-margin;
    padding-left: 2em; // Intentionally em

    > li + li {
      margin-top: 0.25em; // Intentionally em
    }
  }

  ul > li {
    list-style-type: disc;
  }

  ol > li {
    list-style-type: decimal;
  }
}

@mixin unset-lists() {
  ul, ol {
    @include unset-block-margin;
    padding-left: unset;

    > li + li {
      margin-top: unset;
    }
  }

  ul > li {
    list-style-type: unset;
  }

  ol > li {
    list-style-type: unset;
  }
}
