@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

@function rem($size) {
  @return (strip-unit($size) / 16) + rem;
}

@mixin block-margin {
  margin: 1rem 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@mixin unset-block-margin {
  margin: unset;

  &:first-child {
    margin-top: unset;
  }

  &:last-child {
    margin-bottom: unset;
  }
}

// Messy but works...
@mixin remove-edge-margins {
  > *:first-child {
    margin-top: 0;

    > *:first-child {
      margin-top: 0;

      > *:first-child {
        margin-top: 0;

        > *:first-child {
          margin-top: 0;

          > *:first-child {
            margin-top: 0;

            > *:first-child {
              margin-top: 0;

              > *:first-child {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }

  > *:last-child {
    margin-bottom: 0;

    > *:last-child {
      margin-bottom: 0;

      > *:last-child {
        margin-bottom: 0;

        > *:last-child {
          margin-bottom: 0;

          > *:last-child {
            margin-bottom: 0;

            > *:last-child {
              margin-bottom: 0;

              > *:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
