@import './colors';
@import './typography';

.slide {
  @include typography-sans;
  padding: 1.25rem 5rem;
  font-size: $font-size-medium;
  line-height: 1.2;

  h1 {
    margin-top: 1.75rem;
    margin-bottom: 2rem;
    font-size: $font-size-x-large;
    line-height: 1;
  }

  p + p {
    margin-top: 1rem;
  }

  a {
    color: black;
    text-decoration: none;

    &:visited, &:link {
      border-bottom: 2px solid $color-orange;

      &:hover {
        color: white;
        background-color: $color-orange;
      }
    }
  }

  .footer {
    @include typography-sans;
    display: block;
    position: absolute;
    left: 60%;
    bottom: 15px;
    color: $color-orange;
    font-size: $font-size-xx-small;
    line-height: 1.2;

    &:before {
      content: '2018 Design In Tech Report | ';
    }
  }

  .remark-slide-number {
    @include typography-sans;
    display: block;
    position: absolute;
    right: 40px;
    bottom: 15px;
    color: $color-gray;
    font-size: $font-size-xx-small;
    line-height: 1.2;
    opacity: 1;
  }

  &--lightgray {
    color: $color-black;
    background-color: $color-lightgray;
  }

  &--darkgray {
    color: $color-white;
    background-color: $color-darkgray;
  }
}
