@import './colors';
@import './typography';
@import './mixins';

.remark-slide-scaler {
  position: relative;
}

.remark-slide {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
}

.remark-slide-content {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
}

.slide {
  @include typography-serif;
  padding: 1.25rem 5rem;
  font-size: $font-size-medium;
  line-height: 1.1;

  a {
    color: $color-black;
    text-decoration: none;

    &:visited, &:link {
      border-bottom: 2px solid $color-orange;

      &:hover {
        color: $color-white;
        background-color: $color-orange;
      }
    }
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  code {
    @include typography-mono;
  }

  img {
    width: 100%;
  }

  summary {
    margin-bottom: 0.5rem;

    &:focus {
      outline: none;
    }
  }

  &.in-progress {
    &:after {
      content: 'In Progress';
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 8rem;
      height: 8rem;
      border-radius: 8rem;
      color: white;
      background-color: $color-orange;
      font-family: $font-family-sans;
    }
  }

  &--lightgray {
    color: $color-black;
    background-color: $color-lightgray;
  }

  &--darkgray {
    color: $color-white;
    background-color: $color-darkgray;
  }

  &--yellow {
    color: $color-black;
    background-color: $color-yellow;
  }

  &--black {
    color: $color-white;
    background-color: $color-black;

    a {
      color: $color-white;
    }
  }

  .source {
    @include typography-sans;
    display: block;
    position: absolute;
    left: 5rem;
    bottom: 15px;
    color: $color-gray;
    font-size: $font-size-xx-small;

    &:before {
      content: 'Source: ';
    }
  }

  .footer {
    @include typography-sans;
    display: block;
    position: absolute;
    left: 60%;
    bottom: 15px;
    margin: 0 !important;
    color: $color-orange;
    font-size: $font-size-xx-small;

    &:before {
      content: '2018 Design In Tech Report | ';
    }
  }

  .remark-slide-number {
    @include typography-sans;
    display: block;
    position: absolute;
    right: 40px;
    bottom: 15px;
    margin: 0 !important;
    color: $color-gray;
    font-size: $font-size-xx-small;
    opacity: 1;
  }
}
