@import url('https://fonts.googleapis.com/css?family=family=Roboto:400,700|Roboto+Mono');

@import './functions';

$font-family-sans: 'Roboto', sans-serif;
$font-family-serif: 'Georgia', serif;
$font-family-mono: 'Roboto Mono', sans-serif;

$font-size-xx-large: rem(48px);
$font-size-x-large: rem(45px);
$font-size-large: rem(36px);
$font-size-x-medium: rem(30px);
$font-size-medium: rem(20px);
$font-size-small: rem(15px);
$font-size-x-small: rem(13px);
$font-size-xx-small: rem(12px);
$font-size-xxx-small: rem(9.6px);

@mixin typography-sans() {
  font-family: $font-family-sans;
}

@mixin typography-serif() {
  font-family: $font-family-serif;
}

@mixin typography-mono() {
  font-family: $font-family-mono;
}

@mixin unset-typography() {
  font-family: unset;
}

@mixin typography-size($size) {
  display: block;
  font-size: $size;
}

@mixin unset-typography-size() {
  display: unset;
  font-size: unset;
}

.sans {
  @include typography-sans;
}

.serif {
  @include typography-serif;
}

.mono {
  @include typography-mono;
}

.xx-large {
  @include typography-size($font-size-xx-large);
}

.x-large {
  @include typography-size($font-size-x-large);
}

.large {
  @include typography-size($font-size-large);
}

.x-medium {
  @include typography-size($font-size-x-medium);
}

.medium {
  @include typography-size($font-size-medium);
}

.small {
  @include typography-size($font-size-small);
}

.x-small {
  @include typography-size($font-size-x-small);
}

.xx-small {
  @include typography-size($font-size-xx-small);
}

.xxx-small {
  @include typography-size($font-size-xxx-small);
}

// TODO
.irregular-small {
  @include typography-size(14px);
}

.uppercase {
  letter-spacing: 0.1em; // Intentionally em
  text-transform: uppercase;
}
