@import './colors';
@import './typography';

.slide--general {
  blockquote {
    margin: 1rem 0;
    padding-left: 0.3rem;
    border-style: solid;
    border-color: #dddddd;
    border-left-width: 2px;

    &:first-child {
      margin-top: 0
    }

    &:last-child {
      margin-bottom: 0
    }
  }
}
