@import '../colors';
@import '../elements';
@import '../typography';

.slide--large-quote {
  font-size: $font-size-large;

  blockquote {
    margin: 1em 0;
    color: $color-darkgray;

    & + p {
      color: $color-darkgray;
    }
  }
}

.slide--xx-large-quote {
  @extend .slide--large-quote;
  font-size: $font-size-xx-large;
}
