@import '../colors';
@import '../elements';
@import '../typography';

.overview-slide {
  @include headers;
  @include paragraphs;
  @include lists;

  display: grid;
  padding-top: 8rem;
  grid-template-columns: 1fr 2.5fr;
  grid-gap: 2rem;

  h1 {
    margin-top: 0;
    font-size: $font-size-x-large;
  }
}
