@import '../colors';
@import '../elements';
@import '../typography';

:global {

.unintended-consequences-slide {
  h2 {
    @include typography-sans;
    display: block;
    margin: 2rem 0;
    padding: 0.35em 0.3em 0.3em; // Intentionally em
    color: $color-white;
    background-color: $color-black;
    line-height: 1;
  }
}

} // :global
