@import '../colors';
@import '../typography';

.slide--welcome-note {
  @include typography-serif;
  color: $color-black;
  background-color: $color-yellow;

  .body {
    @include typography-sans;
    font-size: 45px; // TODO
    line-height: 1.2;
  }
}
