@import '../colors';
@import '../typography';

.slide--welcome-team {
  @include typography-sans;
  color: $color-black;
  background-color: $color-lightgray;

  h1 {
    font-size: $font-size-large;
    line-height: 1;
  }

  h2 {
    padding: 0.3rem 3.75rem 0.3rem 1.25rem;
  }

  .body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
  }

  .section {
    display: block;

    > ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1.5rem;
      margin-top: 2.5rem;
    }

    > ul > li {
      display: block;
      margin-bottom: 1rem;
      font-size: $font-size-x-small;
      line-height: 1.6;
      text-align: center;

      img {
        width: 100%;
        border-radius: 100vw;
        filter: grayscale(1);
      }
    }
  }
}
