@import '../colors';
@import '../typography';

.slide--welcome-note {
  color: $color-black;
  background-color: $color-yellow;

  h1 {
    @include typography-serif;
    font-size: $font-size-x-large;
  }

  .body {
    @include typography-sans;
    font-size: $font-size-x-large;
  }
}
